MONGODB_URI=mongodb://localhost:27017/kinomex
CHEMBL_API_URL=https://www.ebi.ac.uk/chembl/api/data
UNIPROT_API_URL=https://rest.uniprot.org
RCSB_API_URL=https://search.rcsb.org/rcsbsearch/v2/query
GTEX_API_URL=https://gtexportal.org/api/v2
NCBI_EUTILS_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils
PUBMED_API_KEY=
